---
import { ViewTransitions } from "astro:transitions";
import bgVideo from "../assets/bg-video.mp4";

const { title } = Astro.props;
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Don't be scared! - {title} 🎃</title>

    <ViewTransitions fallback="none" />

    <style>
      @font-face {
        font-family: "Primary";
        src: url("/fonts/Principal.ttf");
        font-weight: 400;
        font-style: normal;
      }
    </style>
  </head>
  <body class="bg-gradient-to-br from-black/90 to-slate-900 text-white">
    <main class="relative min-h-screen w-full overflow-hidden">
      <div class="blur-xl">
        <video
        src={bgVideo}
        autoplay
        muted
        loop
        class="absolute -z-10 pointer-events-none opacity-30"></video>
      </div>
     
      <slot />
    </main>
  </body>
</html>

